:root {
    --tomato: #ff6257;
    --pink: #ff527a;
    --dark-slate-grey: #242742;
    --charcoal-grey:  #36384e;
    --grey: #9294a0;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {background-color: var(--charcoal-grey); display: flex; justify-content: center; align-items: center; font-size: 16px; height: 100%; min-height: 100vh; padding: 40px 20px}