.form {
    display: flex; justify-content: space-between; max-width: 928px; width: 100%; height: 640px; background-color: #fff; border-radius: 35px; padding: 20px
}
.form .text {display: flex; flex-direction: column; justify-content: center; color: var(--dark-slate-grey); padding: 0 80px 0 40px}
.form .heading {font-size: 3.5rem; font-weight: 700; margin-bottom: 25px}
.form .subHeading {line-height: 1.5; margin-bottom: 25px}
.form label {display: flex; justify-content: space-between; font-size: 0.75rem; font-weight: 700; margin-bottom: 10px}
.form input {height: 54px; border-radius: 10px; border: 1px solid var(--grey); margin-bottom: 25px; padding-left: 23px; transition: border .2s, background-color .2s}
.form .imageBox {width: 460px; display: flex; align-items: center; justify-content: center}
.form .imageBox img {width: 100%; height: 100%; object-fit: contain}
.form .mobileImage {display: none}
.form .errorMsg {color: #e78987; opacity: 0; transition: opacity .2s}

/* modifiers */
.form .errorMsg.isInvalid {opacity: 1}
.form input.isInvalid {border-color: #ecc3be; background: #ffe8e5}
.form input.isInvalid::placeholder {color: #e78987}

/* pseudo classes */
.form input::placeholder {transition: color .2s}
.form input:focus {outline: none; border: 1px solid var(--dark-slate-grey)}
.form input:focus::placeholder {color: var(--dark-slate-grey)}

/* RWD */
@media screen and (max-width: 1279px) {
    .form .text {padding: 0 40px}
    .form .heading {font-size: 2.5rem}
}

@media screen and (max-width: 1023px) {
    .form .text {padding: 0 20px}
}

@media screen and (max-width: 767px) {
    .form .imageBox {border-radius: 15px; overflow: hidden; width: auto}
    .form .imageBox img {object-fit: cover; object-position: right}
}

@media screen and (max-width: 639px) {
    .form {padding: 20px}
    .form {flex-direction: column; justify-content: flex-start; max-width: 375px; height: auto; border-radius: 0; padding: 0 0 40px 0}
    .form .imageBox {display: none}
    .form .mobileImage {display: block; width: 100%; margin-bottom: 40px; object-fit: cover}
}

@media screen and (max-width: 349px) {
    .form {padding: 0}
}